* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: blanchedalmond;
  font-family: sans-serif;
}

body > header {
  display: flex;
  flex-direction: column;

  text-align: center;
  
  padding: 20px;

  background-color: rgb(195, 238, 255);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 20px;

  box-shadow: 0px 1px 5px;

  margin: 20px 300px;
}

header p {
  margin-top: 10px;
}

@keyframes arcobaleno {
  0% {color: red;}
  25% {color: pink;}
  50% {color: blue;}
  75% {color: green;}
  100% {color: red;}
}
#camillaricette {
  text-decoration: underline;
  width: fit-content;

  margin: 35px auto;
}

#camillaricette:hover {
  transition: 0.4s;
  animation: arcobaleno 2s linear infinite;
  cursor:default;
}



/* Sidebar */
.main-container {
  display: flex;
  flex-direction: row;

  gap: 20px;
  margin: 0 50px;
}

main {
  flex: 4;
}

aside {
  flex: 1;

  width: 10px;

  background-color: #ffe8ee;
  padding: 20px;
  margin-top: 95px;
  margin-bottom: 25px;
  border-radius: 20px;
  border: 2px solid #ffc1d1;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
aside h4 {
  margin-bottom: 15px;
  color: #ff4d79;
}

aside ol li {
  margin-bottom: 10px;
  font-size: 0.9em;
}

img {
  box-shadow: 1px 0px 10px;
}

article {
  margin: 20px 0px;

  padding: 30px 30px 22px 30px;

  background-color: aliceblue;
  border-radius: 20px;

  box-shadow: 0px 1px 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article header {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  align-items: flex-start;
}

article h3 {
  font-family: cursive;
  font-size: 30px;

  background-color: #ffe8ee;

  border-radius: 30px;
  border: solid #ffc1d1;

  padding: 0px 30px;

  width: fit-content;
}
article header p {
  margin: 5px 0px 20px 0px;
}



.center {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  
  align-items: start;
}



article h4 {
  margin-top: 10px;
}


/* Details */
article details {
  flex-basis: 100%;
  margin-top: 10px;
}

article details summary {
  transition: 0.5s;
  width: fit-content;
  
  background-color: #ffd1dc;
  border: solid 1px #ffd1dc;
  border-radius: 10px;
  padding: 10px 12px;

  cursor: pointer;
}

article details p {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 3px solid #ffd1dc; /* Una linea rosa laterale carina */
}

article details summary:hover {
  transition: 0.4s;
  background-color: #ffe8ee;
}



.sinistra {
  flex: 1;
  font-size: larger;
}

.sinistra figcaption {
  font-size: medium;
}


.destra {
  flex: 2;

  margin-left: 40px;
  font-size: large;
}

footer {
  margin: 0px 50px 10px;

  padding: 20px;

  background-color: rgb(173, 255, 241);
  border-radius: 20px;

  box-shadow: 0px 1px 5px;

}
